*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f5ca93;
  background-image: url('./background2.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  position: fixed;
  background-color: #f5ca93;
}
.header {
  padding: 0.5rem;
  background-color: #f5ca93;
  text-align: center;
}

.score-container {
  padding: 1rem;
  display: grid;
  place-content: center;
  position: relative;
  height: 5rem;
  font-family: sans-serif;
}
.score-counter {
  border: 0.15rem solid #f5ca93;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  border-radius: 0.5rem;
  color: #ccc;
  font-size: 1.5rem;
  text-align: center;
  background-color: #333;
}
.player-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1rem;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first-player,
.second-player {
  padding: 0.25rem;
  border: #ccc 2px solid;
  border-radius: 0.25rem;
  width: 6rem;
  color: white;
  text-align: center;
  background-color: #e25b4d;
}
.second-player {
  color: #e25b4d;
  background-color: white;
  border: #e25b4d 2px solid;
}
.players-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 45vh;
  width: 100%;
}
.player-one-choice,
.player-two-choice {
  width: 10rem;
  display: grid;
  place-items: center;
}
.player-one-choice img,
.player-two-choice img {
  max-width: 75%;
}
.user-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e25b4d;
}

.user-choice-buttons {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.rock img,
.scissors img,
.paper img {
  width: 100%;
  cursor: pointer;
}
.board {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.board-values {
  width: 15rem;
  height: 5rem;
  background-color: #f5ca93;
  color: #e25b4d;
  text-align: center;
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 2rem;
}
